<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Adding Users</title>

</head>

<body>

    <div class="app-container">
        <h3>Choose from the following selctions:</h3>
        <div class="button-stack">

            <a href="/add_onsite" class="dash-btn">Add Onsite</a>
            <a href="/bulk_import" class="dash-btn">Bulk Import</a>
            <a href="/lost_found" class="dash-btn">Lost and Found</a>

        </div>

        <a href="/dashboard" class="dash-btn" style="display: block; font-size: 12px; padding: 10px 20px; margin-bottom: -15px; margin-top: 30px;">Return to Dashboard</a>

    </div>
</body>

</html>