<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Admin Tools</title>
</head>

<body>
    <div class="app-container">

        <h1>Welcome to your Admin Tools</h1>
        <h3>Please select from the available tools below:</h3>

        <!-- Creation of buttons to take to different pages-->
        <div class="button-stack">

            <a href="/add_users" class="dash-btn">Add Users</a>
            <a href="/add_admin" class="dash-btn">Add Admin</a>
            <a href="/lost_found" class="dash-btn">Lost & Found</a>
            <a href="/analytics" class="dash-btn">Analytics</a>
            <a href="/dashboard" class="dash-btn">Back to Dashboard</a>

        </div>

    </div>

</body>

</html>