<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Admin Setup</title>
</head>
    
<body>
    <div class="app-container">
        <form action="/admin-setup" method="post">
            <label for="admin-pass">Enter Password To Sign In</label>
            <br /><br />
            <input type="password" id="admin-pass" name="a_pass" required autofocus placeholder="Enter Password" />
            <br /><br />
            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>