<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Admin Setup</title>
</head>
    
<body>
    <div class="app-container {% if status == 'error' %}error{% endif %}">
        <form action="/admin-setup" method="post">

            <!-- If status = error is sent-->
            {% if status == 'error' %}

            <p class="error">{{ message }}</p>

            {% endif %}
            <br />

            {% if club != none %}
            <label for="admin-pass">Enter Password To Sign In</label>
            <br /><br />
            <input type="password" id="admin-pass" name="a_pass" required autofocus placeholder="Enter Password" />
            <br /><br />
            <button type="submit">Login</button>

            {% else %}
            <label for="admin-pass">Enter First Time User Password</label>
            <br /><br />
            <input type="password" id="admin-pass" name="a_pass" required autofocus placeholder="Enter Password" />
            <br /><br />
            <button type="submit">Enter Initialization Portal</button>

            {% endif %}
        </form>
    </div>
</body>

</html>