<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Analytics</title>
</head>

<body>

    <div class="app-container">
        <h1>Event Analytics</h1>

        {% if not current_data %}
        <h2>No Event Currently in Progress</h2>

        {% else %}
        <h2>Event Attendance for {{ ev_name }}</h2>
        <!--Rest of the logic to display attendance data-->
        <div class="terminal-feed">
            
            {% for entry in current_data %}
            <div class="entry">

                <span class="log-time">{{ entry.time }}</span>
                <span class="log-name">{{ entry.name }}</span>


            </div>
            {% endfor %}
        </div>

        {% endif %}

        <!--Past Events button-->
        <div class="button-stack">
            <a href="/history" class="dash-btn">Access Event Archive</a>
            <a href="/admin_tools" class="dash-btn">Return to Tools</a>
        </div>
    </div>

    <script>
        //Auto-refresh the page every 20 seconds to update analytics data
        async function updateTerminalFeed() {

            const feedContainer = document.querySelector('.terminal-feed');

            if (!feedContainer) {

                return;
        }

        const response = await fetch('/api/live-attendance');
        const newData = await response.json();

        feedContainer.innerHTML = '';

        newData.forEach(entry => {
            
            const logHTML =`
                <div class="entry">
                    <span class="log-time">${entry.time}</span>
                    <span class="log-name">${entry.name}</span>
                </div>
            `;
            feedContainer.innerHTML += logHTML;

        });
        }
        setInterval(updateTerminalFeed, 20000);
    </script>

</body>

</html>