<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Adding Users in Bulk</title>

</head>

<body>

    <div class="app-container">

        <form action="/bulk_import" id="csv-form" method="post" enctype="multipart/form-data">

            <div class="button-stack" style="justify-content: center; flex-direction: column; gap: 30px">
                <input type="file" style="display: none" accept=".csv" name="input_file" id="input_file" required />
                <label for="input_file" class="dash-btn">Choose file</label>

                <span id="file-name" style="color: #00d4ff; font-size: 1.3rem; margin-bottom: 20px; fo">No file chosen</span>
            </div>

            

        </form>

        <div class="button-stack" style="justify-content: center">
            <button type="submit" class="dash-btn" form="csv-form">Upload CSV</button>
            <a href="/dashboard" class="dash-btn">Back to Dashboard</a>
        </div>

        
    </div>

    <script>
        const fileInput = document.getElementById('input_file');
        const fileNameDisplay = document.getElementById('file-name');

        fileInput.addEventListener('change', function (event) {
            if (fileInput.files.length > 0) {
                fileNameDisplay.textContent = fileInput.files[0].name;
            } else {
                fileNameDisplay.textContent = 'No file chosen';
            } 
        });
    </script>

</body>

</html>