<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="app-container">

        <h1>Welcome to your Admin Dashboard</h1>
        <h3>Please select an action below to begin:</h3>

        <!-- Creation of buttons to take to different pages-->
        <div class="button-stack">
            
            {% if ev_name %}
            <a href="/placeholder" class="dash-btn">Stop Event</a>
            
            {% else %}
            <a href="/event_name" class="dash-btn">Start Event</a>
            
            {% endif %}

            <a href="/add_users" class="dash-btn">Add Users</a>
            <a href="/logout" class="dash-btn logout">Sign Out</a>

        </div>

    </div>

</body>

</html>
