<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Event Check-In System</title>
</head>

<body>
    <div class="app-container {{ status }}">
        <h1>{{ message }}</h1>

        {% if status == 'default' %}

        <p>Tap Card on Reader</p>
        <!--    Wrap input in a form so it can be used  -->
        <form action="/scan" method="post">
            <input type="password" id="rfid-input" name="scanned_id" required autofocus autocomplete="off" />
        </form>
        {% endif % }

    </div>

    {% if status != 'default' %}
    <script>
        setTimeout(function () {
            window.location.href = '/scan';
        }, 3500);
    </script>
    {% endif %}

</body>

</html>

