<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Welcome</title>

</head>

<body>

    <div class="landing-splash">
  
        <h1 class="cinematic-title">{% if club != none %}{{ club }} Access Terminal {% else %} Welcome to the Access Terminal {% endif %}</h1>

        <a href="/admin" class="dash-btn cinematic-btn">System Login</a>

    </div>
   
</body>

</html>