<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Welcome</title>

</head>

<body>

    <div class="landing-splash">

        {% if club != none %}
        <h1 class="cinematic-title">{{ club }} Nexus Kiosk</h1>

        <a href="/admin" class="dash-btn cinematic-btn">System Login</a>

        {% else %} 
        <h1 class="cinematic-title">Nexus Kiosk // Initialization Required</h1> 

        <a href="/admin" class="dash-btn cinematic-btn">New User Access</a>

        {% endif %}

    </div>
   
</body>

</html>