<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Sign Out</title>
</head>

<body>
        <h1 class="splash-screen">{{ message }}</h1>
        <h1 class="goodbye-screen">Goodbye</h1>

    <!-- Script to control the timing of transferring sign out page -->
    <script>
        setTimeout(function () {
            window.location.href = "/sign_out";
        }, 9000);
    </script>
    
</body>


</html>