<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Initial Setup</title>
</head>

<body>
    <div class="app-container {% if status == 'error' %}error{% endif %}">
        <form action="/setup" method="post">
            
            <label for="club-name">Club Name</label>
            <input type="text" id="club-name" name="name" required autofocus autocomplete="off" placeholder="ColorStack" />

            <label for="url">Enter Supabase Url</label>
            <input type="password" id="url" name="url" required autocomplete="off" />

            <label for="key">Enter Supabase API key</label>
            <input type="password" id="key" name="key" required autocomplete="off" />

            <label for="admin-pass">Choose an Admin Password</label>
            <input type="password" id="admin-pass" name="admin" required autocomplete="off" />

            <label for="escape-pass">Enter an Escape Password. (Must begin with a number)</label>
            <input type="password" id="escape-pass" name="escape" required autocomplete="off" />
            
            <button type="submit">Complete Setup</button>
        </form>
    </div>
</body>

</html>